/*contributer*/
#contributer{
	width: 50px;
	height: 100%;
	float: right;
	-webkit-transition: width 1s;
	-o-transition: width 1s;
	transition: width 1s;
	overflow: hidden;
	position: relative;
	right: 0;
	z-index: 300;
}
#contributer.hover:hover{
	width: 250px;
}
#contributer .contributer-inner{
	height: 100%;
	width: 100%;
	max-height: 100vh;
	overflow-y: scroll;
	padding-bottom: 10px;
	-webkit-transition: background-color 1s;
	-o-transition: background-color 1s;
	transition: background-color 1s;
	scrollbar-width: none;
}
#contributer .contributer-inner::-webkit-scrollbar {
	display: none;
}
#contributer.hover:hover .contributer-inner{
	background-color: #2f3136;
}
#contributer .group{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	opacity: 0;
	-webkit-transition: 1s;
	-o-transition: 1s;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	color: #707070;
	padding: 10px;
	padding-top: 0;
	padding-bottom: 0;
	max-height: 0;
}
#contributer.hover:hover .group{
	opacity: 1;
	max-height: 40px;
	padding-top: 0;
	padding-bottom: 0;
	padding: 10px;
}
#contributer .user{
	padding: 5px 10px;
	height: 40px;
	white-space: nowrap;
	overflow: hidden;
}
#contributer .user .image{
	position: relative;
	display: inline-block;
	height: 32px;
	widows: 32px;
	margin-right: 10px;
	border-radius: 50%;
	overflow: hidden;
}
#contributer .user .image img{
	height: 100%;
	widows: 100%;
}
#contributer .user .image .gif{
	position: absolute;
	display: none;
}
#contributer.hover:hover .user .image .gif{
	display: block;
}
#contributer .user .text{
	display: inline-block;
	width: 190px;
	line-height: 100%;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
#contributer.hover:hover .user .text{
	opacity: 1;
}
#contributer .user .text .name{
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}
#contributer .user .text .subtext{
	color: #b9bbbe;
	font-size: 12px;
}